<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo|list</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="p-4 flex gap-2 items-center bg-black text-white justify-end">
        <a href="/">My Todo List</a>
    </nav>
    <div class="p-4 grid grid-cols-2 gap-2">
        <div class="p-4">
            <h1>My Tasks</h1>
            {% for todo in all_todo %}
                <div class="bg-green-100 p-2 rounded-lg m-2 text-re-800">
                    <h2>{{ todo.task }}</h2>
                    <p class="text-xs text-gray"></p>
                    <p>{{ todo.date }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="p-4">
            <h1>Add Task</h1>
            <form  method="post">
                {% csrf_token %}
                <input class="border p-2" type="text" name="newtask" placeholder="Enter Task">
                <button class="p-2 bg-red-500 text-white" type="submit">Add Task</button>
            </form>
        </div>
    </div>
</body>
</html>